/* Style for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Style for the navigation links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Style for the form container */
#formContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Style for the form */
#fileDetailsForm {
    display: flex;
    flex-direction: column;
}

/* Style for form labels */
label {
    margin-bottom: 5px;
}

/* Style for form inputs */
input[type="text"],
input[type="file"],
button[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Style for the table */
#fileTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style for table headings */
#fileTable th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Style for table cells */
#fileTable td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Style for view and delete buttons */
button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
